# Create a .env file using this template

LDAP_SERVER_HOSTNAME="ad.name1.org"
LDAP_SERVER_PORT=636
LDAP_SERVER_ENCRYPTION="simple_tls"
LDAP_SERVER_USERNAME="username"
LDAP_SERVER_PASSWORD="s3cr3t"
LDAP_SERVER_BASE='dc=name1,dc=org'
