# Create a .env file using this template

LDAP_SERVER_NAMES="name1, name2"

LDAP_SERVER_NAME1_TYPE="ad"
LDAP_SERVER_NAME1_HOSTNAME="ad.name1.org"
LDAP_SERVER_NAME1_PORT=636
LDAP_SERVER_NAME1_ENCRYPTION="simple_tls"
LDAP_SERVER_NAME1_USERNAME="username"
LDAP_SERVER_NAME1_PASSWORD="s3cr3t"
LDAP_SERVER_NAME1_BASE='dc=name1,dc=org'

LDAP_SERVER_NAME2_TYPE="isds"
LDAP_SERVER_NAME2_HOSTNAME="isds.name2.org"
LDAP_SERVER_NAME2_PORT=389
LDAP_SERVER_NAME2_ENCRYPTION="start_tls"
LDAP_SERVER_NAME2_USERNAME="username"
LDAP_SERVER_NAME2_PASSWORD="s3cr3t"
LDAP_SERVER_NAME2_BASE='dc=name2,dc=org'