# Create a .env.test file using this template

LDAP_SERVER_HOSTNAME="dc.staging.ifad.org"
LDAP_SERVER_PORT=636
LDAP_SERVER_BASE='ou=test,ou=people,dc=ifad,dc=org'
LDAP_SERVER_ENCRYPTION="simple_tls"
LDAP_SERVER_USERNAME="username"
LDAP_SERVER_PASSWORD="password"
