<!DOCTYPE html>
<html>
  <head>
    <title>LDAPr: the missing LDAP query tool</title>
  </head>
  <body>
    <h1>LDAPr: the missing LDAP query tool</h1>

    <p>This tool contains a list of pre-canned queries to run against LDAP.</p>
    <p>The query arguments can be changed easily by altering the query string, composing parameters together.</p>
    <p>Currently, CSV, HTML and JSON output formats are supported.</p>

    <h2>Some examples:</h2>

    <ul>
      <li><a href="?active=true">All active users</a></li>
      <li><a href="?active=any">All users, regardless of their active status</a></li>
      <li><a href="?active=false">Inactive users</a></li>

      <li><a href="?otherMailbox=">Active users with no other mailbox</a></li>
      <li><a href="?otherMobile=*">Active users with an other mobile set</a></li>

      <li><a href="?division=sec">Active users in the SEC division</a></li>
      <li><a href="?division=ict&active=false">Inactive users in the ICT division</a></li>

      <li><a href="?displayName=*Amed*">Active users containing "Amed" in their display name</a></li>
      <li><a href="?employeeID=F62998&active=any">The employee ID F62998</a></li>

      <li><a href="?roomNumber=A008">The users in room A008</a></li>
      <li><a href="?roomNumber=A0*">The users at the first floor, wing A</a></li>
      <li><a href="?roomNumber=B2*">The users at the second floor, wing B</a></li>

      <li><a href="?employeeType=COL">Active consultants</a></li>

      <li><a href="?employeeType=COL&division=SEC&otherMailbox=&roomNumber=B*">Active consultants in SEC having no otherMailbox in wing A</a></li>
    </ul>

    <p>Have fun, and use responsibly :-)</p>
  </body>
</html>
